<div id="banner-faq">
  <!-- Banner img -->
  <%= image_tag("faq-banner.svg", class: "banner-pages") %>

  <!-- Banner Title -->
  <h1 class="banner-title">
    Frequently asked questions
  </h1>
</div>
