<div id="banner-home">
  <!-- Banner Title -->
  <h1 class="banner-title">
    The power of <mark class="highlight">instagram experts</mark> <br>
    who bring your account to the next level.
  </h1>
  <p class="banner-desc">Get exposure, grow your audience, boost your engagement.</p>
  <a class="btn-pricing btn-medium" href="/plan">Get Started</a>

  <!-- Arrow down mobile -->
  <i class="fas fa-arrow-down"></i>

  <!-- Banner img -->
  <%= image_tag("banner-bg.svg", class: "banner-bg") %>
</div>
