<div id="banner-home">
  <!-- Banner Title -->
  <h1 class="banner-title">
    The power of <mark class="highlight">instagram experts</mark> <br>
    who brings your account to the next level.
  </h1>
<<<<<<< HEAD
  <p class="banner-desc">Get exposure, grow your audience, boost your engagement.</p>
=======
  <p class="banner-desc">Get exposure, grow your audience,  boost your engagement.</p>
>>>>>>> 6907c7077c77dd92ce7df5c51c95e14583440b90
  <a class="btn-pricing btn-medium" href="/plan">Get Started</a>

  <!-- Banner img -->
  <%= image_tag("banner-bg.svg", class: "banner-bg") %>
</div>
