<div id="banner-home">
  <h1 class="banner-title">
    The power of instagram experts <br>
    who brings your account to the next level.
  </h1>
  <p>Get exposure, grow your audience,  boost your engagement.</p>
  <button class="button-primary">Get Started</button>
</div>
