<div id="footer">
  <div class="top-part">
    <!-- Logo -->
    <div class="logo-footer">helloradius</div>
    <!-- Navigation -->
    <div class="nav-footer">
      <div class="ul list-inline">
        <li><a href="/">License</a></li>
        <li><a href="/">Privacy policy</a></li>
        <li><a href="/">Contact us</a></li>
        <li><a href="/">Faq</a></li>
        <li><a href="/">Blog</a></li>
      </div>
    </div>
    <!-- Socials -->
    <div class="socials">
      <div class="ul list-inline">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </div>
    </div>
  </div>
  <div class="down-part">
    <div class="copyright">2018 © helloradius. All rights reserved.</div>
    <div class="craftedby">Crafted with ❤️ by productile</div>
  </div>
</div>
