<div id="footer">
  <!-- Top Footer -->
  <div class="top-footer">
    <!-- Logo -->
    <div class="logo-footer">helloradius</div>

    <!-- Navigation -->
    <div class="nav-footer">
      <ul class="list-inline">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/faq">Faq</a></li>
        <li><a href="/terms">Terms and Conditions</a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
    </div>

    <!-- Socials -->
    <div class="socials">
      <ul class="list-inline">
        <li>
          <a href="">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Bottom Footer -->
  <div class="bottom-footer">
    <div class="copyright">2018 © helloradius. All rights reserved.</div>
    <div class="craftedby">Crafted with ❤️ by productile</div>
  </div>
</div>
