<div id="contact">
  <div class="container">
    <div class="row text-center">
      <h4 class="contact-title">Do you still have questions?  Visit our <a href="/faq" class="red-link">FAQ</a> or contact us via mail.</h4>
    </div>
    <div class="row text-center mt30">
      <a class="secondary-btn" href="/contact">Contact us</a>
    </div>
  </div>
</div>
