<div id="how">
  <!-- Title -->
  <div class="container">
    <div class="row">
      <h3 class="how-title text-center">How does it work? </h3>
    </div>

    <!-- Cards -->
    <div class="row mt50">
      <!-- Step 1 -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <div class="card-how">
          <%= image_tag("illu-1.svg", class: "illu-small") %>
          <h4><strong>1.</strong> Fill a form to explain your needs.</h4>
          <p></p>
        </div>
      </div>

      <!-- Step 2 -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <div class="card-how">
          <%= image_tag("illu-4.svg", class: "illu-small") %>
          <h4><strong>2.</strong> Get in touch with our team within a day.</h4>
          <p></p>
        </div>
      </div>

      <!-- Step 3 -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <div class="card-how">
          <%= image_tag("illu-2.svg", class: "illu-small") %>
          <h4><strong>3.</strong> Let our expert works on your strategy.</h4>
          <p></p>
        </div>
      </div>

      <!-- Step 4 -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <div class="card-how">
          <%= image_tag("illu-5.svg", class: "illu-small") %>
          <h4><strong>4.</strong> See the magic happened...</h4>
          <p></p>
        </div>
      </div>
    </div>


    <div class="row text-center mt50">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a href="#pricing" class="primary-btn">Start Today</a>
      </div>
    </div>
   </div>
</div>
