<div id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card-pricing">
          <div class="pricing-title">Starter</div>
          <div class="pricing-aomunt">$ 89</div>
          <div class="pricing-features">
            <ul>
              <li>Growth Management</li>
              <li>Analytics Report</li>
              <li>Hashtags Research</li>
              <li>We post for you</li>
              <li>Digital Strategy</li>
              <li>Design Coaching</li>
              <li>Unlimited Support</li>
            </ul>
          </div>
          <button class="button-primary">Purchase</button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card-pricing">
          <div class="pricing-title">Professionnal</div>
          <div class="pricing-aomunt">$ 149</div>
          <div class="pricing-features">
            <ul>
              <li>Growth Management</li>
              <li>Analytics Report</li>
              <li>Hashtags Research</li>
              <li>We post for you</li>
              <li>Digital Strategy</li>
              <li>Design Coaching</li>
              <li>Unlimited Support</li>
            </ul>
          </div>
          <button class="button-primary">Purchase</button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card-pricing">
          <div class="pricing-title">Unlimited</div>
          <div class="pricing-aomunt">$ 349</div>
          <div class="pricing-features">
            <ul>
              <li>Growth Management</li>
              <li>Analytics Report</li>
              <li>Hashtags Research</li>
              <li>We post for you</li>
              <li>Digital Strategy</li>
              <li>Design Coaching</li>
              <li>Unlimited Support</li>
            </ul>
          </div>
          <button class="button-primary">Purchase</button>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card-pricing">
          <div class="pricing-title">Tailored</div>
          <div class="pricing-aomunt">$ 89</div>
          <div class="pricing-features">
            <ul>
              <li>Growth Management</li>
              <li>Analytics Report</li>
              <li>Hashtags Research</li>
              <li>We post for you</li>
              <li>Digital Strategy</li>
              <li>Design Coaching</li>
              <li>Unlimited Support</li>
            </ul>
          </div>
          <button class="button-primary">Purchase</button>
        </div>
      </div>
    </div>
  </div>
</div>
