<div id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <!-- Starter Plan -->
        <div class="card-pricing">
          <div class="pricing-title text-center">Starter</div>
          <div class="pricing-amount"><span>$</span>89</div>
          <div class="pricing-montlhy">Monthly</div>
          <div class="pricing-features">
            <ul>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                Growth Management</li>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                Analytics Report</li>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                Hashtags Research</li>
              <li class="unchecked-feature">
                <i class="fas fa-check-circle circle-checked"></i>
                We post for you</li>
              <li class="unchecked-feature">
                <i class="fas fa-check-circle circle-checked"></i>
                Digital Strategy</li>
              <li class="unchecked-feature">
                <i class="fas fa-check-circle circle-checked"></i>
                Design Solution</li>
              <li class="unchecked-feature">
                <i class="fas fa-check-circle circle-checked"></i>
                Unlimited Support</li>
            </ul>
          </div>

          <!-- Footer Card Pricing -->
          <div class="pricing-card-footer">
            <a href="/plan/starter" class="btn-pricing">Purchase</a>
          </div>
        </div>
      </div>

      <!-- Pro Plan -->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card-pricing">
          <div class="pricing-title text-center">Professional</div>
          <div class="pricing-amount "><span>$</span>149</div>
          <div class="pricing-montlhy">Monthly</div>
          <div class="pricing-features">
            <ul>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                Growth Management</li>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                Analytics Report</li>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                Hashtags Research</li>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                We post for you</li>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                Digital Strategy</li>
              <li class="unchecked-feature">
                <i class="fas fa-check-circle circle-checked"></i>
                Design Solution</li>
              <li class="unchecked-feature">
                <i class="fas fa-check-circle circle-checked"></i>
                Unlimited Support</li>
            </ul>
          </div>

          <!-- Footer Card Pricing -->
          <div class="pricing-card-footer">
            <a href="/plan/pro" class="btn-pricing">Purchase</a>
          </div>
        </div>
      </div>

      <!-- Unlimited Plan -->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card-pricing">
          <div class="pricing-title text-center">Unlimited</div>
          <div class="pricing-amount "><span>$</span>349</div>
          <div class="pricing-montlhy">Monthly</div>
          <div class="pricing-features">
            <ul>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                Growth Management</li>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                Analytics Report</li>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                Hashtags Research</li>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                We post for you</li>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                Digital Strategy</li>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                Design Solution</li>
              <li data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <i class="fas fa-check-circle circle-checked"></i>
                Unlimited Support</li>
            </ul>
          </div>

          <!-- Footer Card Pricing -->
          <div class="pricing-card-footer">
            <a href="/plan/unlimited" class="btn-pricing">Purchase</a>
          </div>
        </div>
      </div>

      <!-- Tailored Plan -->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card-pricing">
          <div class="pricing-title text-center">Tailored</div>
          <div class="pricing-tailord">You need a more specific plan? Drop us a line</div>
          <%= image_tag("dotted-line-pricing.svg", class: "dotted-line-pricing")%>
          <div class="pricing-features opacity-04">
            <ul>
              <li class="unchecked-feature">
                <i class="fas fa-check-circle circle-checked"></i>
                Growth Management</li>
              <li class="unchecked-feature">
                <i class="fas fa-check-circle circle-checked"></i>
                Analytics Report</li>
              <li class="unchecked-feature">
                <i class="fas fa-check-circle circle-checked"></i>
                Hashtags Research</li>
              <li class="unchecked-feature">
                <i class="fas fa-check-circle circle-checked"></i>
                We post for you</li>
              <li class="unchecked-feature">
                <i class="fas fa-check-circle circle-checked"></i>
                Digital Strategy</li>
              <li class="unchecked-feature">
                <i class="fas fa-check-circle circle-checked"></i>
                Design Solution</li>
              <li class="unchecked-feature">
                <i class="fas fa-check-circle circle-checked"></i>
                Unlimited Support</li>
            </ul>
          </div>

          <!-- Footer Card Pricing -->
          <div class="pricing-card-footer">
            <a href="/contact" class="btn-pricing">Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
