<%= render 'shared/navbar' %>

<!-- Faq Banner -->
<%= render 'banners/banner_faq' %>

<div id="faq">
  <h1>Under Construction</h1>
  <h3>This section is coming really soon!</h3>
</div>

<%= render 'shared/footer' %>
