<%= render 'shared/navbar' %>

<div id="thank-you">
  <h1>Thank you for you purchase</h1>
  <h3>You will receive an email really soon <br> for the next steps to follow...</h3>
</div>

<%= render 'shared/footer' =>
