#how {
  min-height: 70vh;
  background-color: #F2F2F2;
  margin-top: -50px;
  padding: 100px 0 200px;
}

.illu-small {
  height: 180px;
}

.illu-medium {
  height: 200px;
}


.illu-large {
  height: 250px;
}

.card-how {
  @media screen and (max-width: 767px) {
    h4 {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}
