.btn-pricing {
  font-family: "Avenir";
  background-color: $brand-red;
  border-radius: 50px;
  color: white !important;
  padding: 9px 40px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.09em;
  box-shadow: 0px 6px 20px 0px rgba(236, 73, 84, .3);

  &:hover {
    background-color: rgba(235, 73, 84, .8);
    transition: ease .2s;
    text-decoration: none;
  }
}

.button-newsletter {
  background-color: $brand-red !important;
  max-width: 180px;
  border-radius: 50px !important;
  padding: 0 40px !important;
  margin-left: 30px !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  height: 40px !important;
  box-shadow: 0px 6px 20px 0px rgba(235, 73, 84, .3) !important;

  @media screen and (max-width: 767px) {
    margin-left: 0px !important;
  }
}


.primary-btn {
  background-color: $brand-red;
  border-radius: 50px;
  color: white !important;
  padding: 9px 40px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.06em;
  box-shadow: 0px 6px 20px 0px rgba(235, 73, 84, .3);

  &:hover {
    background-color: rgba(235, 73, 84, .8);
    transition: ease .2s;
    text-decoration: none;
  }
}

.secondary-btn {
  background-color: white;
  color: $brand-red !important;
  border-radius: 50px;
  padding: 8px 20px;
  border: 2px solid $brand-red;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.06em;

  &:hover {
    background-color: rgba(255, 255, 255, .9);
    transition: ease .2s;
    text-decoration: none;
    color: white !important;
    background-color: $brand-red;
  }
}

// Button Sizing
.btn-small {

}

.btn-medium {
  padding-left: 25px;
  padding-right: 25px;
}

.btn-large {
  padding-left: 35px;
  padding-right: 35px;
}



























