.card-how {
  text-align: center;
}


// Card Pricing
.card-pricing {
  position: relative;
  max-width: 250px;
  min-height: 550px;
  max-height: 600px;
  background-color: white;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.pricing-title {
  font-family: "Avenir Next", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  top: 60px;
}

.pricing-amount {
  font-family: "Avenir Next", sans-serif;
  font-size: 67px;
  font-weight: 200;
  color: $brand-red;
  opacity: 0.7;
  text-align: center;
  margin-top: 10px;
}

.pricing-features {
  ul {
    padding-left: 16%;
    list-style: none;

    li {
      font-family: "Avenir", sans-serif;
      font-weight: 400;
      font-size: 14px;
      padding-top: 18px;

      svg {
        margin-right: 15px;
      }
    }

    .unchecked-feature {
      opacity: 0.2;
    }
  }
}

.pricing-card-footer {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  margin-top: 20px;
}



















