/////////////////////////////////////////////////////////////////////// Card How
.card-how {
  text-align: center;
  margin-bottom: 30px;

  h4 {
    font-family: "Avenir";
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 500;
  }
}

////////////////////////////////////////////////////////////////// Card discover
.card-discover {
  background-color: white;
  font-family: "Avenir";
  position: relative;
  padding: 30px;
  min-height: 350px;
  border-radius: 10px;
  box-shadow: 0px 6px 20px 0px rgba(160, 160, 160, .3);
  margin-top: -130px;


  @media screen and (max-width: 992px) {
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
  }

  @media screen and (max-width: 9767px) {
    margin-left: 2%;
    margin-right: 2%;
  }

  img {
    position: absolute;
    top: 40px;
    margin-bottom: 30px;
  }

  .discover-title {
    position: absolute;
    top: 130px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 992px) {
      width: 90%;
    }

    @media screen and (max-width: 9767px) {
      width: 80%;
    }
  }

  a {
    position: absolute;
    bottom: 30px;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

.discover-image {
  width: 70px;
  height: auto;
  position: absolute;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.discover-desc {
  position: absolute;
  top: 170px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #868686;
  font-weight: 200;

  @media screen and (max-width: 992px) {
    width: 90%;
  }

  @media screen and (max-width: 9767px) {
    width: 80%;
  }
}

/////////////////////////////////////////////////////////////////// Card Feature
.card-feature {
  background-color: white;
  position: relative;
  font-family: "Avenir";
  height: 230px;
  border-radius: 10px;
  box-shadow: 0px 6px 20px 0px rgba(160, 160, 160, .3);
  margin-top: 50px;

//   .feature-desc {
//   position: absolute;
//   left: 20%;
//   font-size: 15px;
//   font-weight: 300;
//   top: 70px;
//   width: 60%;
// }
}

.feature-icon {
  position: absolute;
  left: 0;
  top: 60px;
  height: 110px;
}

.feature-title {
  position: absolute;
  left: 20%;
  font-size: 16px;
  font-weight: 600;
  top: 45px;
}

.feature-desc {
  position: absolute;
  left: 20%;
  color: $gray-medium;
  top: 80px;
  width: 73%;
}

.feature-cta {
  position: absolute;
  left: 20%;
  bottom: 15%;
  color: $brand-red;

  &:hover {
    text-decoration: none;
    font-weight: 500;
    color: $brand-red;
  }
}

.icon-2 {
  margin-left: -18px;
}

/////////////////////////////////////////////////////////////////// Card Pricing
.card-pricing {
  position: relative;
  max-width: 250px;
  min-height: 550px;
  max-height: 600px;
  background-color: white;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.pricing-title {
  font-family: "Avenir Next", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  top: 60px;
}

.pricing-amount {
  font-family: "Avenir Next", sans-serif;
  font-size: 67px;
  font-weight: 200;
  color: $brand-red;
  opacity: 0.7;
  text-align: center;
  margin-top: 10px;
}

.pricing-features {
  ul {
    padding-left: 15%;
    list-style: none;

    li {
      font-family: "Avenir", sans-serif;
      font-weight: 400;
      font-size: 14px;
      padding-top: 18px;

      svg {
        margin-right: 7%;
      }
    }

    .unchecked-feature {
      opacity: 0.2;
    }
  }
}

.pricing-card-footer {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  margin-top: 20px;
}



















