#footer {
  background-color: $gray-medium;
  font-family: "Avenir";
}

.top-footer {
  color: $gray-dark;
  min-height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 11% 30px 11%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    min-height: 200px;
    justify-content: space-around;
    align-items: center;
    padding: 30px 11% 30px 11%;
  }
}

.logo-footer {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.nav-footer {
  ul {
    margin-bottom: 0;


    li {
      padding: 0 15px;

      @media screen and (max-width: 767px) {
        display: block;
        margin-top: 10px;
        text-align: center;
      }


      a {
        color: $gray-dark;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }


}

.socials {
  ul {
    margin-bottom: 0;

    li {
      a {
          color: $gray-dark;
          font-size: 20px;
      }

      @media screen and (max-width: 767px) {
        margin-top: 30px;
        text-align: center;
      }
    }
  }
}

.bottom-footer {
  min-height: 80px;
  background-color: $gray-dark;
  color: $gray-medium;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 11% 25px 11%;

  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
    padding-top: 10px;

    div {
      margin-top: 10px;
    }
  }
}
